html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

.box-container {
/*  background-image: linear-gradient(to bottom, rgba(211,211,211,1), rgba(1,0,0,1));*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.git-link {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.whitespace {
      width: 100%;
      height: 70px;
}

.main-img {
	overflow: hidden;
	height: 150px;
}

.terminal-gif {
	min-height: 100%;
    min-width: 100%;
}

.code-img {
	max-width:100%;
	max-height:100%;
}

.contact-div {
  text-align: center;
}

.contact-img {
	max-width:100%;
	max-height:100%;
  	height: auto;
	background-size: cover;
}

ul.links {
  padding-inline-start: 0px;
}

.about {
}

.about-me {
	float: right;
	width: 50;
}

.main-pic:hover {
	
}

.page-header {
  height: 100px;
}

.skill {
	padding-bottom: 10px;
}

.skill skill-heading {
  height: 20px;
}

/*#content-wrap {
  padding-bottom: 2.5rem;
}*/

#wrapper {
  min-height: 100vh;
}
.active, .skill-collapse:hover {
  background-color: #ccc;
}

.collapsible {
  background-color: #777;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* icon bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  z-index: 1;
  max-width:100%;
	max-height:100%;
	position: relative;
  z-index: 1;
  max-width:100%;
  max-height:100%;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: right;
      right: 80px;
      position: relative;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 18px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
      /*color: white;*/
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      /*color: #fff;*/
}

#resize #menu li a:hover {
      text-decoration: none;
}

/*--------------- container section --------------- */

.about {
      height: 400px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  object-fit: contain;
/*  background-color: #0f0f0f;*/
}

.copy-container {
  text-align: center;
  right: 80px;
}

.container-left {
    width: 45%;
    height: 100%;
    float: left;
    object-fit: contain;
    margin-right: 10px;
    position: relative;
}

.my-pic {
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.container-right {
  margin-left: 15%;
/*  width: 60%;
  float: right;
  position: relative;
  right: 20px;*/
}

.container-bot{
  clear: both;
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  line-height: 1; 
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  padding: 20px 20px;
}

.box-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.box-title hr {
  width: 100px;
}


/*--------------- footer section --------------- */

#footer {
  width: 100%;
  height: 2.5rem;
}
