*{
	padding:0;
	margin:0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background-color: #ffffff;
    color: #ffffff;
    position: relative;
}

.git-link {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.whitespace {
      width: 100%;
      height: 70px;
}

.main-img {
	overflow: hidden;
	height: 150px;
}

.terminal-gif {
	min-height: 100%;
    min-width: 100%;
}

.code-img {
	max-width:100%;
	max-height:100%;
}

.contact-img {
	max-width:100%;
	max-height:100%;
  	height: auto;
	background-size: cover;
}

.links li{

}

.container-main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
}

.container-self {
	float: left;
	width: 40%;
	position: relative;
}

.about-container {
	width: 60%;
	float: right;
	position: relative;
	right: 20px;
}

.main-pic {
	/*display: inline-block;*/
	max-width: 90%;
	border: 0.2em solid black;
}

.about-me {
	float: right;
	width: 50;
}

.main-pic:hover {
	
}

.skill {
	padding-bottom: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}
.active, .skill-collapse:hover {
  background-color: #ccc;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* icon bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #0f0f0f;
      height: 80px;
      z-index: 1;
      max-width:100%;
	  max-height:100%;
	  position: relative;
      z-index: 1;
      max-width:100%;
      max-height:100%;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: right;
      right: 80px;
      position: relative;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
      color: white;
}

#toggle:checked {
	
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

/*--------------- footer section --------------- */

.about {
      height: 300px;
      margin-top: 30px;
}

.copy-container {
	text-align: center;
    right: 80px;
}
